<div class="page">
<header class="bar-title">
	<h1 class="title">
		<img src="icon.png" class="headerlogo"/> Pedes Orange County </h1>
</header>  
<div class="content">
	<space></space>	
	<div class="input-group inset">
		<div class="input-row">
			<label>Username</label>
			<input type="text" placeholder="username@domain.com" ng-model="username" value="Guest1">
		</div>
		<div class="input-row">
			<label>Password</label>
			<input type="password" ng-model="password" value="ra9a99">
		</div>
	</div>
	<a class="button-main button-block" ng-click="signIn()">Sign In</a>

	<div class="logodiv" style="width: 150px; height: 150px;">
	</div>
</div>
</div>
