<div class="page">
<header class="bar-title">
	<h1 class="title">PedesOrange Mobile</h1>
</header>
<div class="content">
	<space></space>	
	<div class="input-group inset">
		<div class="input-row">
			<label>Username</label>
			<input type="text" placeholder="username@domain.com" ng-model="username">
		</div>
		<div class="input-row">
			<label>Password</label>
			<input type="password" ng-model="password">
		</div>
	</div>
	<a class="button-main button-block" ng-click="signIn()">Sign In</a>
</div>
</div>
